body{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 180px;
    padding: 0;
    width: 380px;
    background-color: aliceblue;
}
#MainWindow{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.modal-content{
    display: flex;
    justify-content: center;
}
.button{
    background-color: aqua;
    height: 30px;
    width: 50px;
}